<?xml version="1.0"?>
<launch>
	<executable cmd="ros2 bag record
	/grid_detection_node/box
	/grid_detection_node/polygon
	/grid_detection_node/track_info
	/cti/vector_map_info/junction
	/cti/vector_map_info/lane
	/cti/decision/display_intersection
	/cti/prediction/display
	/aligned_points
	/localization/submap
	/odom
	/cti_fake_gnss
	/gnss_odom
	/lidar_odom
	/cti/rblite/qianxun/date
	/cti/sensing/driver/imu/imu_cti
	/astar_leader_pose
	/astar_map
	/auto_global_path
	/auto_global_path_show
	/auto_local_path
	/cti/planning/debug_text
	/cti/planning/display_marker
	/cti/planning/display_marker_speed
	/box_assemble/inrange_trackstate
	/box_assemble/raw_trackstate
	/box_assemble/singleload_state
	/box_pose
	/boxassemble/backok
	/boxassemble/manul_exposure
	/boxassemble_calc_state
	/boxcmd_req
	/boxcmd_state
	/cam_pose
	/cam_quad_pose
	/cloud_scheduling_node/warning_alarm_configurations
	/cloud_scheduling_node/warning_alarm_record
	/cmd_vel
	/contrast_pose
	/control_cmd
	/cti/chassis_serial/chassis_error
	/cti/chassis_serial/compass
	/cti/chassis_serial/gps
	/cti/chasssis_serial/baro_status
	/cti/fpga_serial/back_center_ult
	/cti/fpga_serial/box_laser
	/cti/fpga_serial/box_status
	/cti/fpga_serial/boxcmd
	/cti/fpga_serial/ctlrun_info
	/cti/fpga_serial/front_center_ult
	/cti/fpga_serial/front_left_ult
	/cti/fpga_serial/front_right_ult
	/cti/fpga_serial/imu
	/cti/fpga_serial/left_center_ult
	/cti/fpga_serial/left_front_ult
	/cti/fpga_serial/left_rear_ult
	/cti/fpga_serial/light_type
	/cti/fpga_serial/multiple_ultrasonic
	/cti/fpga_serial/rear_left_ult
	/cti/fpga_serial/rear_right_ult
	/cti/fpga_serial/rfid_all
	/cti/fpga_serial/right_front_ult
	/cti/fpga_serial/right_rear_ult
	/cti/fpga_serial/sins
	/cti/fpga_serial/serial_status
	/cti/light/cmd
	/cti/move_control/app_cmd
	/cti/move_controller/carState
	/cti/move_controller/target_pose
	/cti/move_controller/trafficLightKeepTime
	/cti/node/errorCode
	/cti/obstacle/boxK
	/cti/obstacle/debug_info
	/cti/obstacle/disEdge
	/cti/obstacle/disObs
	/cti/obstacle/limitK
	/cti/obstacle/staticMapK
	/cti/rblite/base_pose
	/cti/rblite/boxapp_cmd
	/cti/rblite/control
	/cti/rblite/robot/boxdetails
	/cti/rblite/robot/boxoperate_cnt
	/cti/rblite/robot/targetpose
	/cti/rblite/robotstate
	/cti/robot_config/base_link_pose
	/cti/robot_config/allSensorStatus
	/cti/robot_config/robotVersion
	/cti/semantics/object_map/fusion_costmap
	/cti/semantics/object_map/fusion_costmap_for_obs
	/cti/semantics/object_map/fusion_costmap_planner
	/cti/sensor/lslidar/back_scan
	/cti/sensor/lslidar/back_status
	/cti/sensor/rslidar/Bpearl_PointCloud2
	/cti/sensor/rslidar/Front_PointCloud2
	/cti/sensor/rslidar/PointCloud2
	/cti/sensor/rslidar/front_status
	/cti/sensor/rslidar/top_status
	/cti/topomap/rupt_Table
	/cti/topomap/state
	/cti/vector_map_info/lane
	/cti/vector_map_info/roadedge
	/cti/waypoints_follow/follow_flag
	/cti/waypoints_follow/load_box_info
	/cti/waypoints_follow/local_path_over
	/cti/waypoints_follow/over_flag
	/cti/waypoints_follow/pid_control_test
	/cti/waypoints_follow/roadTypeProperty
	/cti/waypoints_follow/state_space_test
	/cti/waypoints_follow/zero_speed_msg
	/cti_local_goal_test
	/cti_localizer_state
	/current_pose
	/distance_coeff
	/fix_cmd_vel
	/front_points_no_ground
	/global_path
	/global_path_density
	/grid_detection_node/perception_pointcloud
	/local_cmd_vel
	/local_path
	/map_init_pose
	/ndt_pose
	/ndt_stat
	/planning/new_ref_path
	/planning/temp_global_path
	/pointcloud_map
	/points_combined
	/points_no_ground
	/points_roi_filtered
	/points_roi_filtered_local
	/rblite/navdelivery
	/rblite/navdeliveryresp
	/robot_config/map_data_config
	/robot_odom_4wd
	/target_box_pose
	/temp_current_pose
	/cti/planning/path_polygon
	/planning/temp_global_path_maker
	/planning/temp_global_path_maker_origin
	/tf
	/tf_static
	-o /home/neousys/car" output="screen" />
</launch>